* {
    margin: none;
    padding: none;
}

body {
    display: flex;
    align-items: center;

    flex-direction: column;

    background-color: rgb(54, 59, 52);
}

header {
    margin: 20px;
}
header h1 {
    color: #fff;
    text-shadow: 0px 0px 20px rgb(85, 194, 81);
}

article {
    margin-top: 30px;
}

article h1 {
    text-align: center;
}

.myVideo {
    border-radius: 20px;
}